* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
svg {
  display: block;
  width: 20px;
  height: 20px;
}
body {
  min-height: 100vh;
  color: white;
  background: #171d29;
  background: linear-gradient(
    61deg,
    rgba(23, 29, 41, 1) 0%,
    rgba(7, 30, 36, 1) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__interactive-list {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  list-style-type: none;
}
.home-page {
  padding: 5px;
}
.home-page__button {
  border-radius: 5px;
  width: 244px;
  height: 57px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
button.home-page__button {
  border: 1px solid rgba(130, 82, 225, 1);
}
.home-page__button-text-content {
  width: 100px;
  text-align: left;
}
.home-page__button_type_create_content {
  text-decoration: none;
  background: #dfc3e8;
  background: linear-gradient(
    66deg,
    rgba(223, 195, 232, 1) 0%,
    rgba(130, 82, 225, 1) 100%
  );
  background-size: cover;
  color: black;
  width: 100%;
  height: 130px;
  border: none;
}
.home-page__buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.projects {
  margin-top: 20px;
}
.projects__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  margin-top: 15px;
}
.project__management-menu {
  display: flex;
  list-style-type: none;
  gap: 5px;
}
.project {
  width: 124px;
}
.project__description {
  font-size: 14px;
  margin-top: 3px;
}
.project__name {
  font-weight: normal;
}
.project__preview {
  width: 100%;
  height: 124px;
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
}
.project__properties {
  color: rgb(139, 139, 139);
}
.work-space {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  min-height: 100vh;
}
.work-space__section {
  background-color: #262626;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.work-space__section-header {
  border-bottom: 2px solid #171d29;
  padding: 10px;
  background-color: #303030;
  font-size: 14px;
}
.work-space__section-title {
  font-weight: inherit;
  font-size: inherit;
}
.work-space__section-data {
  flex: 1 1 auto;
}
.import__menu {
  display: flex;
  list-style-type: none;
  gap: 5px;
}
.import__blocks {
  display: flex;
  flex: 1 1 auto;
}
.import__aside {
  border-right: 2px solid #171d29;
  width: max-content;
  padding: 10px;
}
.import__data {
  flex: unset;
}
.import__menu--aside {
  flex-direction: column;
}
.player__data {
  padding: 10px;
}
.player__video {
  width: 100%;
  height: 200px;
  background-color: black;
}
.player__footer {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.player__footer-part {
  display: flex;
  gap: 10px;
}
.player__time {
  display: flex;
}
.details__footer {
  padding: 10px;
  background-color: #303030;
  display: flex;
  justify-content: end;
}
.timeline {
  grid-column: span 3;
}
.timeline__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 7px;
}
.timeline__managment {
  display: flex;
  list-style-type: none;
  gap: 5px;
}
